* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #4d6fbe;
}

body {
  background: #b4dce2;
}

.homepage_container {
  width: 83%;
  height: 100vh;
  margin: auto;
  padding: 1rem;
}

.card_design {
  background: white;
  padding: 2rem;
  margin: 1rem;
  border-radius: 2rem;
}

.card_design--content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.card_design--btn {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.card_design--btn a {
  width: 20%;
  height: fit-content;
}

.card_design--btn img {
  width: 40%;
  height: 10%;
}

.pagination_btn {
  margin: 0.7rem;
}
.pagination_btn input {
  background: white;
  padding: 1rem;
  border-radius: 50%;
  margin: 0.3rem;
  border: 0;
  cursor: pointer;
}

.container__add--btn {
  position: fixed;
  background: white;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  border-radius: 50%;
  bottom: 1rem;
  right: 1rem;
  text-align: center;
}

.container__add--btn a {
  text-decoration: none;

  font-size: 2.7rem;
}

.container__export--btn {
  margin-left: auto;
  margin-right: 2rem;
  width: fit-content;
  background: #76aada;
  padding: 1rem;
  border-radius: 0.5rem;
}

.container__export--btn a {
  color: white;
  text-decoration: none;
  padding: 2rem;
}
